<div class="hero bg-img is-small">
  <div class="hero-body">
	<img src="img/about.jpg">
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="notification is-info">
      <strong>This is the About Page!</strong>
    </div>
    <div class="content">
      <h2>About Riot Jobs</h2>
      <p>
         Welcome to Riot Jobs! You  must be here because you want to work as a developer, concept artist, UX designer, or Security Engineer at Riot, 
		 and want to constantly improve the game just like the rest of us. If you have a love for League of Legends and our company, 
		 we urge you to apply as creativity and innovation is what we desire for a game that is continually evolving every single day. 
		 We also prefer those who have played the game for at least five years. Those who have played the game understand the core of Riot Job's values best. 
		 Please see the jobs page in order to view more specific descriptions and requirements for each position we are looking to fill within our company!
		 We are pleased in your dedication to our long-standing game, League of Legends, and our company. We are also currently looking for many positions
		 to improve our new release, Legends of Runeterra, which is currently in beta. 
      </p>
	</form>
	  <br>
        <form method="get" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
		Email:
        <input type="text" name="text_input" /><br>
	</form>
      <p>
         If you would like more information about our company and jobs available, please enter your email above! Thank you.
		 We highly appreciate your time in viewing our website and look forward to working with you in the near future!
      </p>
    </div>
  </div>
</section>