<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-size-2 has-text-weight-semibold">Example of Mundo Concept' ARCTIC MUNDO SKIN</h2>
    </div>
  </div>
</section>
<section class="section is-fullheight">
  <div class="container has-text-centered">
    <div class="scroll-boxy">
      <img src="img/mundo.jpg" alt="ARCTIC MUNDO SKIN">
    </div>
    <div class="section">
      <a href="resources/mundo.pdf" class="button is-info is-large" download>Download this sample concept.</a>
    </div>
  </div>
</section>