<main class="section">
  <div class="container">
    {{>carousel}}
    <section class="section">
      <div class="container has-text-centered">
        <div class="content is-medium">
          <h1>Welcome to the Riot Jobs Website!</h1>
          <p>
            Riot Jobs currently employs more than 300,000 driven developers, concept artists, UX designers, and Security Engineers
            who each day collaborate thoroughly to improve the mechanics of the game, fix new bugs, release
			new patches, modify the balance between champions, protect the game from hackers, and create new and exciting champions! 
			Through an elaborate hiring process, Riot selects special individuals to join this team as part 
			of the mission to expand League of Legend's audience. 
          </p>
          <h2>We especially need help with new champion concepts and ideas, as well as design for our new game, Legends of Runeterra!</h2>
          <p>
            At this time, we are especially focusing on bringing on <strong>innovative</strong> and
			<strong>creative</strong> artists to expand our champion pool and keep the gameplay fresh
			and exciting! Please see the jobs page for more information regarding requirements for this
			job in creating new and exciting champions for League of Legend's growing community!
			We are also prioritizing our search for developers for our new mini-game, 
			<strong>Legends of Runeterra</strong>. Don't hesitate to apply if interested!!
          </p>
        </div>
        <div class="column">
          <a href="/jobs" class="button is-primary is-large">Apply!</a>
        </div>
      </div>
    </section>
  </div>
</main>