<section class="section">
  <div class="container" id="jobPostings">
    <ul>
      <li>
        <h2 class="title">Concept Artist - League of Legends</h2>
        <h3 class="subtitle">
          With other designers, bring environments and new champions to life! 
		  As a champion designer, you will be improving and updating the textures 
		  of the game's many champions. You will also work with others designers 
		  to design new champions from scratch, create lore with writers, and 
		  help produce thrilling cinematics and animations! We are in urgent need
		  of new concept artists, so please do apply if you are interested!
        </h3>
        <div class="content">
          <h4>Requirements:</h4>
          <ul>
            <li>3+ years experience in creating 3D block models.</li>
            <li>2+ years experience in creating stylized 2D artwork.</li>
            <li>3+ years experience in creating previs VFX concepts.</li>
          </ul>
        </div>
        <button class="button is-primary apply">Click to Apply!</button>
      </li>
      <hr class="hr">
      <li>
        <h2 class="title">Software Developer - Legends of Runeterra</h2>
        <h3 class="subtitle">
          Riot needs the help of several talented developers to build upon our beta
		  release of the mini-game, Legends of Runeterra. This game is vastly different
		  from our popular MOBA, League of Legends, as it features turn-based gameplay
		  similar to Hearthstone and Magic the Gathering. As a developer, you will work to 
		  implement champions in card form, and help to balance and develop the mechanics of
		  gameplay that the beta version needs to be improved upon. As we plan to move away from 
		  beta release soon, we need as much help as we can, so please apply if you are interested!
        </h3>
        <div class="content">
          <h4>Requirements:</h4>
          <ul>
            <li>3+ years experience in video game development.</li>
            <li>Bachelor's degree in Computer Science or similar field. (Subject to availability)</li>
            <li>Preferred: 2+ years experience in video game develompent of turn-based card games.</li>
          </ul>
        </div>
        <button class="button is-primary apply">Click to Apply!</button>
      </li>
      <hr class="hr">
      <li>
        <h2 class="title">UX Designer - Legends of Runeterra</h2>
        <h3 class="subtitle">
          In this collaborative role, you'll be in charge of design work for our beta-release
		  of the mini-game, Legends of Runeterra. This turn-based card game features design
		  work that is vastly different than the UX for our main game, League of Legends. We 
		  would like you to gather feedback from beta users and implement changes contributing
		  to a simple, easy-to-learn design for new players of the game. We would like you to take 
		  some inspiration from similar card games such as Hearthstone and Magic the Gathering. We hope
		  that you will be able to contribute strong UX workflows via intuitive control schemes and layouts
		  with other UX designers. Please apply today if this sounds like something for you!
        </h3>
        <div class="content">
          <h4>Requirements:</h4>
          <ul>
            <li>Bachelor's degree in UX Design or Humn-Computer Interaction.</li>
            <li>3+ years experience with Adobe Creative Suite and Figma.</li>
			<li>Preferred: 3+ years UX Design in turn-based card games.</li>
          </ul>
        </div>
        <button class="button is-primary apply">Click to Apply!</button>
      </li>
      <hr class="hr">
      <li>
        <h2 class="title">Security Engineer - League of Legends</h2>
        <h3 class="subtitle">
          Everyday, League of Legends encounters new bots and hackers that make the game
		  incredibly unfair to other players in the community, ultimately ruining the 
		  gameplay experience for non-cheaters involved in the match. Your goal as a 
		  security engineer would be to stop these bots and hackers from being able to enter games in
		  the first place by patching our security system to account for new hacking technologies
		  out there. If you love to keep the game fair for all players in our community, please 
		  feel free to apply today!
        </h3>
        <div class="content">
          <h4>Requirements:</h4>
          <ul>
            <li>3+ years experience in Cybersecurity.</li>
            <li>3+ years experience in Unity, Java, Python, and Lua.</li>
            <li>Preferred: 2+ years experience in video game security.</li>
          </ul>
        </div>
        <button class="button is-primary apply">Click to Apply!</button>
      </li>
    </ul>
  </div>
</section>
<div id="jobsModal" class="modal">
  <div id="modalBackground" class="modal-background"></div>
  <div class="modal-content">
    <section class="box">
      <div class="content">
        <h4>Thank you for applying!</h4>
        <p>One of our representatives at Riot Jobs will be contacting you soon!</p>
      </div>
    </section>
  </div>
  <button id="modalClose" class="modal-close is-large" aria-label="close"></button>
</div>
<script src="../src/apply.js"></script>