<section class="hero-carousel carousel-animated carousel-animate-slide" data-autoplay="true">
  <div class="carousel-container">
    <div class="carousel-item has-background is-active">
      <img class="is-background" src="img/carousel/carousel1.jpg" />
      <div class="title">Teemo needs your help!</div>
    </div>
    <div class="carousel-item has-background">
      <img class="is-background" src="img/carousel/carousel2.jpg" alt="" />
      <div class="title">Design cool skins like PROJECT: FIORA!</div>
    </div>
    <div class="carousel-item has-background">
      <img class="is-background" src="img/carousel/carousel3.jpg" alt="" />
      <div class="title">Be part of the team that designed the Akali remake!</div>
    </div>
    <div class="carousel-item has-background">
      <img class="is-background" src="img/carousel/carousel4.jpg" alt="" />
      <div class="title">March with Pantheon and apply to Riot Jobs!</div>
    </div>
  </div>
  <div class="carousel-navigation is-overlay">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</section>
<script type="text/javascript" src="src/bulma-carousel.min.js"></script>
<script src="src/carousel.js"></script>