<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>Riot Jobs is not affiliated with Riot and is not an actual company.</p>
      <p>Oregon State University: Final Project Website for CS290.</p>
      <p>All images taken from <a href="https://wall.alphacoders.com/by_sub_category.php?id=169908&name=League+Of+Legends+Wallpapers">Wallpaper Abyss</a></p>
    </div>
  </div>
</footer>