<nav class="navbar is-danger is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <h1 class="is-size-5 has-text-weight-semibold"><i class="fas fa-rocket"></i>&nbsp;&nbsp;Riot Jobs</h1>
      </a>
      <a id="navbarBurger" role="button" class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="/jobs" class="navbar-item">Jobs</a>
        <a href="/gallery" class="navbar-item">Gallery</a>
        <a href="/about" class="navbar-item">About</a>
      </div>
    </div>
  </div>
</nav>
<script src="/src/script.js"></script>